<!-- <app-persondetails [person2]='stringPerson' (person3)=ChangedPerson($event)></app-persondetails> -->
<section class="section">
  <h1>Check out Our Recipe Collection</h1>
  <div *ngIf="!recipeList" class="page-loading">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="recipe-grid">
    <!-- <div></div> -->
    <app-recipe [recipe]="recipeList[0]" class="main-recipe"></app-recipe>
    <app-recipe
      *ngFor="let recipe of recipeList"
      [recipe]="recipe"
      class="normal-recipe"
    ></app-recipe>
    <app-recipe [recipe]="recipeList[0]" class="normal-recipe"></app-recipe>
    <app-recipe [recipe]="recipeList[0]" class="normal-recipe"></app-recipe>
    <app-recipe [recipe]="recipeList[0]" class="normal-recipe"></app-recipe>
    <app-recipe [recipe]="recipeList[0]" class="normal-recipe"></app-recipe>
    <app-recipe [recipe]="recipeList[0]" class="normal-recipe"></app-recipe>
  </div>
</section>
