<!-- <app-persondetails [person2]='stringPerson' (person3)=ChangedPerson($event)></app-persondetails> -->
<section class="section">
  <h1>Check out Our Recipe Collection</h1>
  <div>
    <form #searchForm="ngForm" action="">
      <input
        name="search"
        [(ngModel)]="searchString"
        #searchValue="ngModel"
        type="text"
        placeholder="Search Recipe Names, Ingredients or Tags"
        required
      />
    </form>

    {{ searchString }}
  </div>
  <!-- <div [ngClass]="{ search: searchValue.pristine, normal: searchValue.dirty }"> -->
  <div [class.search]="searchValue.value" [class.normal]="!searchValue.value">
    <!-- <div></div> -->
    <div *ngIf="!recipeList" class="page-loading">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <!-- <div > -->

    <!-- <div
      *ngFor="let recipe of recipeList"
      class="recipe-card"
      (click)="goToDetail(recipe)"
    >
      <div class="recipe-img" [ngStyle]="getRecipeImageStyle(recipe)"></div>
      <div class="recipe-info">
        <h2 class="recipe-name">{{ recipe.recipeName }}</h2>
        <div class="recipe-tag" *ngFor="let tag of recipe.tags">
          {{ tag.tagName }}
        </div>
      </div>
    </div> -->

    <div
      *ngFor="let recipe of testOnly"
      [hidden]="!withinSearch(recipe)"
      class="recipe-card"
      (click)="goToDetail(recipe)"
    >
      <div class="recipe-img" [ngStyle]="getRecipeImageStyle(recipe)"></div>
      <div class="recipe-info">
        <h2 class="recipe-name">{{ recipe.recipeName }}</h2>
        <div class="recipe-prepares">
          Prepared: {{ recipe.numTimesPrepared }} times
        </div>
        <!-- <div>Ingredients:</div>
        <div
          class="recipe-ingredient"
          *ngFor="let ingredient of recipe.ingredients"
        >
          <span>{{ ingredient.ingredientName }}</span>
        </div> -->
        <div class="recipe-tag" *ngFor="let tag of recipe.tags">
          {{ tag.tagName }}
        </div>
        <!-- <div class="recipe-views">
        </div> -->
      </div>
    </div>

    <!-- </div> -->
  </div>
</section>
