input[type="text"],
input[type="username"],
input[type="password"] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid var(--link-color);
  transition: all 0.5s ease-in-out;
  border-radius: 5px 5px 5px 5px;
}

input[type="text"]:focus,
input[type="username"]:focus,
input[type="password"]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type="text"]:placeholder,
input[type="username"]:placeholder,
input[type="password"]:placeholder {
  color: #cccccc;
}
