<!-- username: string;
    email: string;
    firstName: string;
    lastName: string;
    profileImage: string;
    password: string;
    sub: string; -->
<section class="section">
  <div (click)="logout()" class="logout" routerLink="/">Logout</div>
  <div class="fancy-container-shadow-border">
    <form action="" *ngIf="usermodel">
      <input
        type="text"
        name="d"
        [(ngModel)]="usermodel.firstName"
        placeholder="First Name"
        required
      />
      <input
        type="text"
        name="b"
        [(ngModel)]="usermodel.lastName"
        placeholder="Last Name"
        required
      />
      <input type="submit" (click)="sendinfo()" value="Confirm" />
    </form>
  </div>
</section>
