<section class="section">
  <div #top class="recipe-details" *ngIf="!preparing">
    <div *ngIf="!recipe" class="page-loading">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div *ngIf="recipe" class="recipe-card">
      <div
        class="img"
        [ngStyle]="{
          'background-image': 'url(' + recipe.recipeImage + ')'
        }"
      ></div>
      <div class="img-buffer"></div>
      <div>{{ recipe.recipeId }}</div>
      <div>{{ recipe.recipeName }}</div>
      <div>{{ recipe.recipeDescription }}</div>
      <div>{{ recipe.recipeImage }}</div>
      <div>{{ recipe.recipeAuthor }}</div>
      <div>{{ recipe.dateCreated }}</div>
      <div>{{ recipe.dateLastPrepared }}</div>
      <div>{{ recipe.numTimesPrepared }}</div>
      <div>{{ recipe.recipeAuthors }}</div>
      <div>{{ recipe.ingredients }}</div>
      <div>{{ recipe.tags }}</div>
      <div>{{ recipe.steps }}</div>
      <input type="button" (click)="startPrepare()" value="Start Preparing" />

      <div class="add-rev-card">
        <input
          type="button"
          (click)="startAddReview()"
          [disabled]="!canReview()"
          value="Review"
        />
        <div *ngIf="addingReview" class="add-rev-form">
          <form *ngIf="addingReview" #reviewForm="ngForm" action="">
            <input
              type="range"
              min="1"
              max="5"
              name="rate"
              [(ngModel)]="addRating"
            />
            <textarea
              name="desc"
              [(ngModel)]="addDescription"
              id=""
              cols="30"
              rows="10"
            ></textarea>
            <input type="button" (click)="submitReview()" value="Confirm" />
          </form>
          <input
            type="button"
            (click)="cancelAddReview()"
            value="Cancel review"
          />
        </div>
      </div>

      <div class="rating">Rating: {{ averageRating }}</div>

      <div class="reviews">
        <div class="rev-card" *ngFor="let review of reviews">
          <div class="user">
            {{ review.user.firstname }} {{ review.user.lastname }}
          </div>
          <div class="rev-rating">{{ review.reviewRating }}</div>
          <div class="rev-date">{{ review.reviewDate }}</div>
          <div class="rev-desc">{{ review.reviewDescription }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="prepare" *ngIf="preparing">
    <input type="button" (click)="stopPreparing()" value="Stop Preparing" />
    <app-recipe-guide [recipe]="recipe"></app-recipe-guide>
    <input type="button" (click)="stopPreparing()" value="Done!" />
  </div>
</section>
