<section class="section">
  <div #top class="recipe-details" *ngIf="!preparing">
    <div *ngIf="!recipe" class="page-loading">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div *ngIf="recipe" class="fancy-container-shadow-border">
      <div
        class="img"
        [ngStyle]="{
          'background-image': 'url(' + recipe.recipeImage + ')'
        }"
      ></div>
      <div class="img-buffer"></div>
      <div>Name: {{ recipe.recipeName }}</div>
      <div>
        Description: <br />
        {{ recipe.recipeDescription }}
      </div>
      <div>Recipe Author: {{ recipe.recipeAuthor }}</div>
      <div>Date Created: {{ recipe.dateCreated }}</div>
      <div>Last time prepared: {{ recipe.dateLastPrepared }}</div>
      <div>Number of times prepared: {{ recipe.numTimesPrepared }}</div>
      <div>{{ recipe.recipeAuthors }}</div>
      <br /><br />
      <div *ngIf="averageRating" class="rating">
        Average Rating: {{ averageRating | number: "1.2-2" }}
      </div>
      <div *ngIf="!averageRating" class="rating">
        Be the first to rate this recipe!
      </div>
      <br /><br />

      <input type="button" (click)="startPrepare()" value="Start Preparing" />
      <button *ngIf="isAdmin" (click)="goEdit()">Edit</button>

      <div class="add-rev-card">
        <input
          type="button"
          (click)="startAddReview()"
          [disabled]="!canReview()"
          value="Review"
        />
        <div *ngIf="addingReview" class="add-review-card">
          <form *ngIf="addingReview" #reviewForm="ngForm" action="">
            <label for="review_rating">Your Rating</label><br />
            <input
              id="review_rating"
              type="range"
              min="1"
              max="5"
              name="rate"
              [(ngModel)]="addRating"
            />{{ addRating }}<br /><br /><br />
            <label for="review_desc">Your Opinion</label> <br /><br />
            <textarea
              id="review_desc"
              name="desc"
              [(ngModel)]="addDescription"
              id=""
              cols="30"
              rows="5"
            ></textarea>
            <br />
            <br />
            <input type="button" (click)="submitReview()" value="Confirm" />
          </form>
          <input
            class="cancel"
            type="button"
            (click)="cancelAddReview()"
            value="Cancel review"
          />
        </div>
      </div>

      <div class="reviews">
        <div class="rev-card" *ngFor="let review of reviews">
          <div class="user">
            {{ review.user.firstname }} {{ review.user.lastname }}
          </div>
          <div class="rev-rating">Rating: {{ review.reviewRating }}</div>
          <div class="rev-date">Review time: {{ review.reviewDate }}</div>
          <div>Description:</div>
          <div class="rev-desc">{{ review.reviewDescription }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="prepare" *ngIf="preparing">
    <input type="button" (click)="stopPreparing()" value="Stop Preparing" />
    <app-recipe-guide [recipe]="recipe"></app-recipe-guide>
    <input type="button" (click)="stopPreparing()" value="Done!" />
  </div>
</section>
