<!-- from: https://medium.com/swlh/using-auth0-to-secure-your-angular-application-and-access-your-asp-net-core-api-1947b9389f4f -->
<nav class="nav-bar">
  <ul class="nav-list">
    <!-- <button><a routerLink="/listpersons">See a list of People</a></button
    >&nbsp; -->
    <div class="logo-container">
      <div class="logo"></div>
    </div>
    <li class="nav-title">
      <span class="website-name" routerLink="/">{{ title }}</span>
    </li>
    <li class="nav-right" routerLink="/register" *ngIf="auth.loggedIn">
      <span>{{ authModel.lastName }}, {{ authModel.firstName }}</span>
      <div
        class="nav-right profile-img"
        [ngStyle]="{
          'background-image': 'url(' + authModel.profileImage + ')'
        }"
      ></div>
    </li>
    <li class="nav-right" routerLink="admin" *ngIf="isUserAdmin">
      <span>Admin Page</span>
    </li>
    <li
      class="nav-right"
      (click)="auth.login()"
      *ngIf="!auth.loggedIn && auth.notLoading"
    >
      <span>Get Started</span>
    </li>
    <div *ngIf="!auth.notLoading" class="page-loading">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>

    <!-- <li class="nav-right" *ngIf="!auth.notLoading">Loading...</li> -->
  </ul>
</nav>
<router-outlet></router-outlet>
<div *ngIf="showAddRecipe()" class="add-recipe" routerLink="recipeEdit/0">
  Add a Recipe
</div>

<div></div>
