form.recipe-form,
.add-list {
  display: grid;
  grid: auto / 25vw 64vw;
  gap: 5pt;
}

input[type="text"],
input[type="number"] {
  border: 1px solid lightblue;
}

input[type="text"]:disabled {
  color: grey;
}

.full-page-loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: show;
  margin: auto;
  background-color: rgba(29, 43, 54, 0.356);
}

.page-loading {
  margin: auto;
  margin-top: 50vh;
}
